doctype html
html(lang="en")
  head
    title= name
    link(rel='stylesheet', type='text/css', href='asset://css/main.css')
  body
    h1 Hello - #{name}
    p.
      test

    script(src='asset://js/app.js')
